# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
class1.py
class2.py
draft1.py
draft2.py
draft3.py
extract_dict.py
input_name_pas.py
main_.py
stored_logins_main.py
